<div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text animate fadeRight mr-1">
    <div class="padding-4">
        <div class="row">
            <div class="text-center pt-1">
            <h5 class="mt-0">Reportes de Riesgo</h5>
            </div>
            <ul class="ml-2">
                <li>En en el dia: 0</li>
                <li>En en el mes: 0</li>
                <li>En en el año: 0</li>
            </ul>          
       </div>
    </div>
 </div>