{% extends './AdminDashboard.html' %}
{% load static %}
{% block right-panel %}
<div class="row company-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Prestador de Servicios</h3>
        </div>       
    </div>
</div>

<div class="row">
<div class="col s1"></div>
<div class="col s9">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
    <div class="input-field col s12">
        <select name="company_sms_manager" required="" id="id_company_sms_manager">
            {% if form.company_sms_manager.value == None %}
            <option value="" disabled selected>Debe seleccionar un gerente sms para crear la compañia</option>
            {% else %} 
                {% for manager in sms_managers %}
                    {% if manager.user.id == form.company_sms_manager.value  %}
                    <option value="{{ manager.user.id }}" disabled selected>{{ manager.user }}</option>
                    {% endif %}
                {% endfor %}            
            {% endif %}
            {% for manager in sms_managers %}
                <option value="{{ manager.user.id }}" data-icon="{{ manager.photo.url }}">{{ manager.user }}</option>        
            {% endfor %}
        </select>
        <label>Gerente sms</label>
    </div>
</div>


<div class="row">
    <div class="input-field col s12">    
        {{ form.name }}
        <label>Nomnbre del prestador de servicio:</label>
    </div>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Seleccionar Imagen</span>
        {{ form.company_logo }}
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>

        
<div class="row">
    <div class="input-field col s12">
        {{ form.type_of_company }}
        <label>Tipo de compañia</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form.phone }}
        <label for="password">Teléfono</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form.company_mail }}
        <label for="password">Email</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form.rif }}
        <label for="password">Rif</label>
    </div>
</div>



<div class="row center">
    {% if 'company-update' in request.build_absolute_uri %}                    
    <input type='submit' class="waves-effect waves-light btn-large white-text" value='Actualizar Prestador de Servicios'>                    
    {% else %}
    <input type='submit' class="waves-effect waves-light btn-large white-text" value='Crear Prestador de Servicios'>                    
    {% endif %}
</div>
</div>
<div class="col s1"></div>
</form>
</div>

<!--SCRIPTS-->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });        
</script>
{% endblock %}