{% extends './AdminDashboard.html' %}
{% load static %}
{% block right-panel %}
<div class="row company-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Prestadores de servicio</h3>
        </div>       
    </div>
</div>


<div class="row ml-1 mr-1">
    <!--DATA-->
    <div class="col s8">
    <!--COMAPY BASIC DATA-->
    <h5>Información del prestador:</h5>
    <div class="card horizontal">                        
        <div class="card-image">
            <img src="{{ object.company_logo.url }}" class="profile-pic-medium mt-1 mb-1">                        
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3>{{ object.name }}</h3>
                <h5>
                    {% if object.type_of_company == '1' %}
                        Aeropuerto<br>
                    {% endif %}
                    {% if object.type_of_company == '2' %}
                        Aerolinea<br>
                    {% endif %}
                    {% if object.type_of_company == '3' %}
                        Ciac<br>
                    {% endif %}
                    {% if object.type_of_company == '4' %}
                        Omac<br>
                    {% endif %}
                </h5>
                <div class="divider"></div>
                <br>                  
                <p>Telefono: {{ object.phone }}</p>
                <p>Email: {{ object.company_mail }}</p>
                <p>Rif: {{ object.rif }}</p>
            </div>                
        </div>        
    </div>
    <!--MANAGER OF COMPANY-->
    <h5>Gestionado por:</h5>
    <div class="card horizontal">                                
        <div class="card-image">
            <img src="{{ object.company_sms_manager.photo.url }}" class="profile-pic-medium mt-1 mb-1">                        
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <a href="{% url 'superuser:sms-manager-detail' object.company_sms_manager.user.id %}" class="secondary-content"><i class="material-icons">remove_red_eye</i></a>
                <h3>{{ object.company_sms_manager.name }} {{ object.company_sms_manager.last_name }}</h3>
                <div class="divider"></div>
                <br>
                <p>{{ object.company_sms_manager.user }}</p>
                <p>{{ object.company_sms_manager.phone }}</p>                   
            </div>                
        </div>        
    </div>
    </div>
    <!--BASIC INDICATORS-->
    <div class="col s4">
        <h5>Indicadores Rapidos:</h5>        
        {% include './indicators/GeneralRiskReportsIndicators.html' %}
        {% include './indicators/GeneralIncidentes&AccidentsIndicators.html' %}
        {% include './indicators/GeneralFlyingHoursIndicators.html' %}
    </div>
</div>

{% endblock %}