{% extends './AdminDashboard.html' %}
{% load static %}
{% block right-panel %}

<div class="row sms-manager-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Gerentes SMS</h3>
        </div>       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="input-field">
            <i class="material-icons prefix">search</i>        
            <input type="text" placeholder="Busqueda por nombre, telefono, cedula o empresa">
        </div>
    </div>    
    <div class="row">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'superuser:sms-manager-create' %}">
                <i class="material-icons">person_add</i>
            </a>
        </div>
        <div class="card br-5">
            <div class="card-content">                
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Mail</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Gestionando</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for instance in sms_managers.all %}
                        <tr>
                            <td><a href="{{ instance.photo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.photo.url }}" alt="Image Not Found"></a></td>
                            <td>{{ instance.user }}</td>
                            <td>{{ instance.name }}</td>
                            <td>{{ instance.last_name }}</td>
                            <td>{{ instance.phone }}</td>
                            <td>{{ instance.managed_by.count }}</td>
                            <td>
                                <a href="{% url 'superuser:sms-manager-detail' instance.user.id %}" <i class="material-icons">remove_red_eye</i></a>
                                <a href="{% url 'superuser:sms-manager-update' instance.user.id %}" <i class="material-icons">edit</i></a>
                            </td>
                        </tr>                        
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}