{% extends './AdminDashboard.html' %}
{% load static %}
{% block right-panel %}
<div class="row employee-background">
        <div class="overlay-banner white-text">                
            <div class="valign-wrapper">   
                <h3>Empleados</h3>
            </div>       
        </div>
    </div> 

<div class="row">
<div class="col s4"></div>
<div class="col s4">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <!--remember alwats check the id and name parameter in the select-->
    <!--that name is very important for django-->
    <div class="row">
        <div class="input-field col s12">
            <select name="companys" required="" id="id_companys" tabindex="-1">            
                <option value="" disabled selected>Debe seleccionar una empresa</option>
                {% for company in form.companys.field.queryset %}
                    <option value="{{ company.id }}" data-icon="{{ company.company_logo.url }}"> {{ company.name }}</option>        
                {% endfor %}
            </select>
            <label>Prestador de servicios</label>
        </div>
    </div> 


    <div class="row">
        <div class="input-field col s12">    
            {{ form.email }}
            <label for="email">Email</label>
        </div>
    </div>
        
    <div class="row">
        <div class="input-field col s12">            
            {{ form.password1 }}
            <label for="password">Contraseña</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">            
            {{ form.password2 }}
            <label for="password">Repita la contraseña</label>
        </div>
    </div>


    <div class="row">
    {% if form.errors %}
        <p class=" label label-danger">   
            {{ form.errors }}                     
        </p>
    {% endif %}
    </div>

    <div class="row center">                    
        <input type='submit' class="waves-effect waves-light btn-large white-text" value='Crear Empleado'>                    
    </div>
    
</form>
</div>

<div class="col s4"></div>
</div>
<!--SCRIPTS-->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });        
</script>
{% endblock %}