{% extends './AdminDashboard.html' %}
{% load static %}
{% block right-panel %}

<div class="row company-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Prestadores de servicio</h3>
        </div>       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="input-field">
            <i class="material-icons prefix">search</i>        
            <input type="text" placeholder="Busqueda por nombre, telefono, cedula o empresa">
        </div>
    </div>    
    <div class="row">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'superuser:company-create' %}">
                <i class="material-icons">note_add</i>
            </a>
        </div>
        <div class="card br-5">
            <div class="card-content">                
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Empresa</th>                            
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Telefono</th>
                            <th>Correo</th>                            
                            <th>Gerente SMS A/C</th>
                            <th>Acción</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for instance in companys.all %}
                        <tr>
                            <td><a href="{{ instance.company_logo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.company_logo.url }}" alt="Image Not Found"></a></td>                            
                            <td>{{ instance.name }}</td>
                            <td>
                                {% if instance.type_of_company == '1' %}
                                    Aeropuerto
                                {% endif %}
                                {% if instance.type_of_company == '2' %}
                                    Aerolinea
                                {% endif %}
                                {% if instance.type_of_company == '3' %}
                                    Ciac
                                {% endif %}
                                {% if instance.type_of_company == '4' %}
                                    Omac
                                {% endif %}
                            </td>
                            <td>{{ instance.phone }}</td>
                            <td>{{ instance.company_mail }}</td>                            
                            <td><a href="{{ instance.company_sms_manager.photo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.company_sms_manager.photo.url }}" alt="Image Not Found"></a></td>
                            <td>
                                <a href="{% url 'superuser:company-detail' instance.id %}" <i class="material-icons">remove_red_eye</i></a>
                                <a href="{% url 'superuser:company-update' instance.id %}" <i class="material-icons">edit</i></a>
                            </td>                            
                        </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}