{% load static %}
<div class="green-material-square">
        <p><h1 class="right-align white-text">Bienvenido</h1></p>
        <p><h6 class="right-align">{{ user.email }}</h6></p>
      </div>
      <div>
        <ul class="collection principal-menu">          
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'superuser:sms-manager-list' %}">
              <i class="material-icons circle">person</i>
              Gerentes sms
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'superuser:company-list' %}">
              <i class="material-icons circle green">business</i>
              Prestadores de Servicio
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'superuser:employee-list' %}">
              <i class="material-icons circle red">group</i>
              Empleados
            </a>
          </li>                     
        </ul>
      </div>