{% load static %}
<div class="green-material-square">
        <p><h1 class="right-align white-text">Bienvenido</h1></p>
        <p><h6 class="right-align">{{ user.email }}</h6></p>
      </div>
      <div>
        <ul class="collection principal-menu">
          <!--INICIO-->
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'sms_manager:dashboard' %}">
              <i class="material-icons circle blue">person_pin</i>
              Inicio
            </a>
          </li> 
          <!--PERFIL-->         
          <li class="collection-item avatar principal-menu-item">            
            {% if Manage_many == False %}
            <a href="{% url 'sms_manager:profile-sms-manager' %}">
              <i class="material-icons circle blue">person_pin</i>
              Perfil
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == False %}
            <a href="#modal1" class="modal-trigger">
              <i class="material-icons circle blue">person_pin</i>
              Perfil
            </a> 
            {% endif %}
            {% if Manage_many == True and select_a_company == True %}
            <a href="{% url 'sms_manager_many_companys:profile-sms-manager' company.id %}">
              <i class="material-icons circle blue">person_pin</i>
              Perfil
            </a>
            {% endif %}    
          </li>
          <!--REPORTES DE RIESGO-->         
          <li class="collection-item avatar principal-menu-item">
            {% if Manage_many == False %}
            <a href="{% url 'sms_manager:risk-report-list' %}">
              <i class="material-icons circle orange">report_problem</i>
              Reportes de Riesgo
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == False %}
            <a href="#modal1" class="modal-trigger">
              <i class="material-icons circle orange">report_problem</i>
              Reportes de Riesgo
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == True %}
            <a href="{% url 'sms_manager_many_companys:risk-report-list' company.id %}">
              <i class="material-icons circle orange">report_problem</i>
              Reportes de Riesgo
            </a>
            {% endif %}
          </li>
          <li class="collection-item avatar principal-menu-item">            
            {% if Manage_many == False %}
            <a href="{% url 'sms_manager:incident-accident-list' %}">
              <i class="material-icons circle red">report</i>
              Incidentes y Accidentes
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == False %}
            <a href="#modal1" class="modal-trigger">
              <i class="material-icons circle red">report</i>
              Incidentes y Accidentes
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == True %}
            <a href="{% url 'sms_manager_many_companys:incident-accident-list' company.id %}">
              <i class="material-icons circle red">report</i>
              Incidentes y Accidentes
            </a>
            {% endif %}
          </li>
          <li class="collection-item avatar principal-menu-item">
            {% if Manage_many == False %}
            <a href="#!">
              <i class="material-icons circle green">flight_takeoff</i>
              Reportes de Vuelo
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == False %}
            <a href="#modal1" class="modal-trigger">
              <i class="material-icons circle green">flight_takeoff</i>
              Reportes de Vuelo
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == True %}
            <a href="#!">
              <i class="material-icons circle green">flight_takeoff</i>
              Reportes de Vuelo
            </a>
            {% endif %}
          </li>
          <!--EMPLEADOS-->
          <li class="collection-item avatar principal-menu-item">
            {% if Manage_many == False %}
            <a href="{% url 'sms_manager:employee-list' %}">
              <i class="material-icons circle cyan">group</i>
              Empleados
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == False %}
            <a href="#modal1" class="modal-trigger">
              <i class="material-icons circle cyan">group</i>
              Empleados
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == True %}
            <a href="{% url 'sms_manager_many_companys:employee-list' company.id %}">
              <i class="material-icons circle cyan">group</i>
              Empleados
            </a>            
            {% endif %}
          </li>
            
          </li>                     
        </ul>
      </div>