<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Notificación 1</a></li>
    <li><a href="#!">Notificación 2</a></li>    
    <li><a href="#!">Notificación 3</a></li>
  </ul>
<!--Dropdown de prestadores de servicios-->

{% if Manage_many == True and select_a_company == True %}
<ul id="dropdown2" class="dropdown-content">    
    {% for company in companys %}  
    <li><a href="{% url 'sms_manager_many_companys:dashboard' company.id %}">{{ company.name }}</a></li>
    {% endfor %}
</ul>    
{% endif %}


<nav>
    <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
    <ul class="right hide-on-med-and-down">
        <li>
            {% if Manage_many == False %}
            <!--sin dropdown-->
            <a style="max-height: 64px; width: 105%;" href="#!" class="dropdown-trigger mr-2 tooltipped" data-position="bottom" data-tooltip="{{ company.name }}" id="ManagingCompany">
                Gestionando... &nbsp;&nbsp; <img style="max-height: 2rem; margin-top: 1.2rem; position: absolute;" src="{{ company.company_logo.url }}" alt="Image Not Found" class="circle">                
            </a>
            {% endif %}
            {% if Manage_many == True and select_a_company == True %}
            <!--con dropdowm dropdown-->
            <a style="max-height: 64px; width: 105%;" href="#!" class="dropdown-trigger mr-2 tooltipped" data-position="bottom" data-tooltip="{{ company.name }}" data-target="dropdown2" id="ManagingCompany">
                Gestionando... &nbsp;&nbsp; <img style="max-height: 2rem; margin-top: 1.2rem; position: absolute;" src="{{ company.company_logo.url }}" alt="Image Not Found" class="circle">
                <span class="material-icons right ml-1" style="margin-top: 1.2rem;">arrow_drop_down</span>
            </a>
            {% endif %}            
            
        </li>
        
        <!-- Dropdown Trigger -->
        <li>
            <a style="max-height: 64px;" class="dropdown-trigger" href="#!" data-target="dropdown1" id="ProfilePicAndNotifications">
                <!--Jquery Load here-->
            </a>
        </li>
        <li><a href="{% url 'users:logout' %}"><i class="material-icons right">exit_to_app</i>Salir</a></li>
    </ul>
    </div>
</nav>