<form action="{% url 'sms_manager:update-profile-pic-sms-manager' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}        
    <div class="file-field input-field">
        <div class="btn">
            <span>Seleccionar Foto de Perfil</span>
            <input type="file" name="photo" accept="image/*" id="id_photo">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <input type='submit' class="waves-effect waves-light btn-large white-text" value='Subir Foto'>
  </form>