{% extends './SmsManagerDashboard.html' %}
{% load static %}
{% block right-panel %}

<div class="row employee-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Empleados</h3>
        </div>       
    </div>
</div>

<div class="container">
    <div class="row">        
        <div class="input-field">
            <i class="material-icons prefix">search</i>        
            <input type="text" placeholder="Busqueda por nombre, telefono, cedula o empresa">
        </div>
    </div>    
    <div class="row">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'sms_manager:employee-create' %}">
                <i class="material-icons">person_add</i>
            </a>
        </div>
        <div class="card br-5">
            <div class="card-content">                
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Empresa</th>
                            <th>Mail</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Acción</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for instance in employees.all %}
                        <tr>
                            <td><a href="{{ instance.photo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.photo.url }}" alt="Image Not Found"></a></td>                                                        
                            <td><a class="tooltipped" data-tooltip="{{ instance.company.name }}" data-position="top" href="{{ instance.company.company_logo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.company.company_logo.url }}" alt="Image Not Found"></a></td>
                            <td>{{ instance.user }}</td>
                            <td>{{ instance.name }}</td>
                            <td>{{ instance.last_name }}</td>
                            <td>{{ instance.phone }}</td>
                            <td>
                                <a href="{% url 'sms_manager:employee-detail' instance.user.id %}" <i class="material-icons">remove_red_eye</i></a>
                            </td>
                        </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltipped').tooltip();
    });
    </script>
{% endblock %}