{% extends 'DashboardBase.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Charts/Chart.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/Charts/utils.js' %}"></script>
<div class="row mb-0">
    <div class="col s3 principal-colum">
        <!-- LeftMenu -->
        {% include './LeftMenu.html' %}        
    </div>    
    <div class="col s9 pl-0 pr-0">
        <!-- NavBar -->
        {% include './NavBar.html' %}
        <!-- Content -->
        {% block right-panel %}

        {% endblock %}
        <!-- Footer -->
        {% include './Footer.html' %}
    </div>  
</div>
<script type="text/javascript">
    $( document ).ready(function() {
      $('.tooltipped').tooltip();
      $(".dropdown-trigger").dropdown({
        hover: false
      });
      $('#ProfilePicAndNotifications').load("{% url 'sms_manager_mini_views:notifications' %}");      
    });
</script>
{% endblock %}