{% extends './SmsManagerDashboard.html' %}
{% load static %}
{% block right-panel %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}    
</form>
<div class="container">
    <div class="valign-wrapper full-height">
        <div class="row" style="width: 100%;">        
            <div class="col s12">    
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="{{ object.photo.url }}" class="profile-pic-medium mt-1 mb-1">
                        <!--<input type="file" name="photo" accept="image/*" id="id_photo" class="btn-edit-profile-pic" style="cursor: pointer; z-index: 10000; opacity: 0;">-->
                        <!--<a class="btn-edit-profile-pic btn-small btn-floating waves-effect waves-light grey darken-2" href="#SmsMangerProfilePicFormModal"><i class="material-icons">add_a_photo</i></a>-->
                        <button data-target="SmsMangerProfilePicFormModal" class="btn-edit-profile-pic btn-small btn-floating waves-effect waves-light grey darken-2 modal-trigger"><i class="material-icons">add_a_photo</i></button>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{ object.name }} {{ object.last_name }}</h3>
                            <div class="divider"></div>
                            <br>
                            <p>{{ object.user.email }}</p>
                            <p>{{ object.phone }}</p>            
                        </div>                
                    </div>
                    <a class="btn-large btn-floating halfway-fab waves-effect waves-light green btn modal-trigger" href="#SmsMangerProfileFormModal"><i class="material-icons">edit</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Formulario datos basicos -->
<div id="SmsMangerProfileFormModal" class="modal">
    <div class="modal-content" id="update-profile-url">
        {% include './SmsMangerProfileFormModal.html' %}
    </div>
</div>
<!-- Modal Formulario foto de perfil -->
<div id="SmsMangerProfilePicFormModal" class="modal">
    <div class="modal-content" id="update-profile-pic-url">
        {% include './SmsMangerProfilePicFormModal.html' %}
    </div>
</div>
<!--SCRIPTS-->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript">
    $( document ).ready(function() {        
        $('.modal').modal();
        $('#update-profile-url').load("{% url 'sms_manager:update-profile-sms-manager' %}");             
        $('#update-profile-pic-url').load("{% url 'sms_manager:update-profile-pic-sms-manager' %}");
    });
</script>
{% endblock %}