<div class="row ml-2 pr-1">
    <!--QUE COMPAÑIA ESTOY GESTIONANDO-->
    <div class="col s12 m3">        
        <div class="card indicator-card horizontal grey lighten-5 z-depth-2 valign-wrapper">                        
            <div class="card-image">
                <img src="{{ company.company_logo.url }}" class="profile-pic-small mt-1 mb-1 ml-1">                        
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6>{{ company.name }}</h6>
                </div>
            </div>
        </div>
    </div>
    <!--INDICADORES RAPIDOS-->
    <div class="col s12 m3 pl-0 pr-0">
    {% include './indicators/GeneralRiskReportsIndicators.html' %}
    </div>
    <div class="col s12 m3 pl-0 pr-0">
    {% include './indicators/GeneralIncidentes&AccidentsIndicators.html' %}
    </div>
    <div class="col s12 m3 pl-0 pr-0">
    {% include './indicators/GeneralFlyingHoursIndicators.html' %}
    </div>
</div>

<div class="row ml-2 pr-1">
    <div class="col s7">
        {% include './indicators/BarRiskReportsIndicators.html' %}
    </div>
    <div class="col s5">
        {% include './indicators/RadarRiskReportsTypeIndicators.html' %}
    </div>
</div>

<div class="row ml-2 pr-1">
    <div class="col s12">
        {% include './indicators/BarFlyingHoursIndicators.html' %}
    </div>
</div>

<script>
window.onload = function() {
    window.myRadar = new Chart(document.getElementById('RiskReportTypeCanvas'), config);
    var RiskReport_ctx = document.getElementById('BarRiskReportCanvas').getContext('2d');
    window.myBar = new Chart(RiskReport_ctx, {
        type: 'bar',
        data: barChartData1,
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Reportes de riesgo por mes'
            }
        }
    });
    var FlyingHoursctx = document.getElementById('BarFlyingHoursCanvas').getContext('2d');
			window.myBar = new Chart(FlyingHoursctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Horas de vuelo en el año'
					}
				}
			});
};
</script>