{% extends './SmsManagerDashboard.html' %}
{% load static %}
{% block right-panel %}

<div class="row risk-report-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Incidentes / Accidentes</h3>
        </div>       
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">search</i>        
                <input type="text" placeholder="Busqueda por nombre, telefono, cedula o empresa">
            </div>
        </div>    
        <div class="row">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'sms_manager:incident-accident-create' %}">
                    <i class="material-icons">add_alert</i>
                </a>
            </div>
            <div class="card br-5">
                <div class="card-content">                
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Compañia</th>
                                <th>Fecha</th>
                                <th>Lugar</th>
                                <th>Descripción</th>
                                <th>Foto</th>
                                <th>Acción</th>
                            </tr>
                        </thead>    
                        <tbody>
                            {% for instance in incidents_accidents.all %}
                            <tr>
                                <td>
                                    {% if instance.owner.is_sms_manager %}                                        
                                        <a href="{{ sms_managers.photo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ sms_managers.photo.url }}" alt="Image Not Found"></a></td>
                                    {% endif %}
                                    {% if instance.owner.is_employee %}
                                        {% for employee in employees %}
                                            {% if employee.user == instance.owner %}
                                                <a class="tooltipped" data-tooltip="{{ employee.name }} {{ employee.last_name }}" data-position="top"><img style="max-height: 2rem; max-width: 5rem;" src="{{ employee.photo.url }}" alt="Image Not Found"></a></td>                                        
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>                                
                                <td><a class="tooltipped" data-tooltip="{{ instance.of_company.name }}" data-position="top" href="{{ instance.of_company.company_logo.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.of_company.company_logo.url }}" alt="Image Not Found"></a></td>
                                <td>{{ instance.date }}</td>
                                <td>{{ instance.place }}</td>                                
                                <td class="table-elipsis-text">{{ instance.description }}</td>
                                <td><a href="{{ instance.photo1.url }}"><img style="max-height: 2rem; max-width: 5rem;" src="{{ instance.photo1.url }}" alt="Image Not Found"></a></td>
                                <td><a href="{% url 'sms_manager:incident-accident-detail' instance.id %}" <i class="material-icons">remove_red_eye</i></a></td>
                            </tr>                        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltipped').tooltip();
    });
    </script>
{% endblock %}