
          <form action="{% url 'sms_manager:update-profile-sms-manager' %}" method="post">
            {% csrf_token %}        
            <div class="row">
                <div class="input-field col s12">    
                    {{ form.name }}
                    <label for="name">Nombre:</label>
                </div>
            </div>
                    
            <div class="row">
                <div class="input-field col s12">
                    {{ form.last_name }}
                    <label for="last_name">Apellido:</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    {{ form.phone }}
                    <label for="Phone">Telefono:</label>
                </div>
            </div>
            <input type='submit' class="waves-effect waves-light btn-large white-text" value='Guardar'>
          </form>