{% load static %}
<div class="container">    
    <div class="row">
      <h4>Seleccione el prestador de servicios que desea gestionar</h4>
      
      {% for company in companys %}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image" style="width: auto; height: 200px; background-size: cover; background-image: url({{ company.company_logo.url }})">
          </div>          
          <div class="card-action">
            <a href="{% url 'sms_manager_many_companys:dashboard' company.id %}">{{ company.name }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="divider"></div>  

  </div>
<!-- Modal-->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h6>Debe seleccionar un Prestador de servicios</h6>      
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
    $('.carousel').carousel({    
      indicators: true,
      shift: 5,
      padding: 5,
      numVisible: 5
    });
    // move next carousel
   $('.moveNextCarousel').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('next');
   });

   // move prev carousel
   $('.movePrevCarousel').click(function(e){
      e.preventDefault();
      e.stopPropagation();
      $('.carousel').carousel('prev');
   });
  });
</script>