{% extends './EmployeeDashboard.html' %}
{% load static %}
{% block right-panel %}

<div class="row risk-report-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Incidente Accidente</h3>
        </div>       
    </div>
</div>

<!--RISKREPORT BASIC DATA-->
<div class="row ml-2 mr-1">
<div class="row">
   
</div>

    
    <div class="row">
        <!---->
        <div class="col s12 m2 card-panel grey lighten-5 z-depth-1" >
            <div class="valign-wrapper" style="width: 150px; height: 150px;">
                <p>
                    {{ object.date }} <br>
                    {{ object.place }} <br>                       
                  </p>         
            </div>
          </div>
        <!--PRIMERA FOTO-->
        <div class="col s12 m2">
        <div class="card z-depth-2" style="width: 150px; height: 150px;">
            <div class="card-image">
            <img class="" style="width: 150px; height: 150px; background-size: cover; background-image: url({{ object.photo1.url }})">          
            </div>        
        </div>
        </div>
        <!--SEGUNDA FOTO-->
        <div class="col s12 m2">
            <div class="card z-depth-2" style="width: 150px; height: 150px;">
            <div class="card-image">
                <img class="" style="width: 150px; height: 150px; background-size: cover; background-image: url({{ object.photo2.url }})">          
            </div>        
            </div>
        </div>    
        <!--TERCERA FOTO-->
        <div class="col s12 m2">
            <div class="card z-depth-2" style="width: 150px; height: 150px;">
            <div class="card-image">
                <img class="" style="width: 150px; height: 150px; background-size: cover; background-image: url({{ object.photo3.url }})">          
            </div>        
            </div>
        </div>    
        <!--CUARTA FOTO-->
        <div class="col s12 m2">
            <div class="card z-depth-2" style="width: 150px; height: 150px;">
            <div class="card-image">
                <img class="" style="width: 150px; height: 150px; background-size: cover; background-image: url({{ object.photo4.url }})">          
            </div>        
            </div>
        </div>    
        <!--QUINTA FOTO-->
        <div class="col s12 m2">
            <div class="card z-depth-2" style="width: 150px; height: 150px;">
            <div class="card-image">
                <img class="" style="width: 150px; height: 150px; background-size: cover; background-image: url({{ object.photo5.url }})">          
            </div>        
            </div>
        </div>   
    </div>

    <div class="divider"></div>
    <div class="row">
        <h5>Decripción:</h5>
        <p>{{ object.description }}<br></p>
    </div>
</div>

{% endblock %}