{% extends './EmployeeDashboard.html' %}
{% load static %}
{% block right-panel %}

<div class="row risk-report-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Incidentes / Accidentes </h3>
        </div>       
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">search</i>        
                <input type="text" placeholder="Busqueda por nombre, telefono, cedula o empresa">
            </div>
        </div>    
        <div class="row">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'employees:incident-accident-create' %}">
                    <i class="material-icons">add_alert</i>
                </a>
            </div>
            
            <div>

  <ul class="collection">
    {% for instance in incidents_accidents.all %}
    <li class="collection-item avatar">
      <img src="{{ instance.photo1.url }}" alt="Image Not Found" class="" style="max-width: 3rem; position: absolute; left: 1rem;">
      <span class="title">{{ instance.date }}</span>
      <p class="colecction-elipsis-text">
        {{ instance.place }} <br>                
        {{ instance.description }}<br>
      </p>
      <a href="{% url 'employees:incident-accident-detail' instance.id %}" class="secondary-content"><i class="material-icons">remove_red_eye</i></a>
    </li>
    {% endfor %}
  </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltipped').tooltip();
    });
    </script>

{% endblock %}