{% extends './EmployeeDashboard.html' %}
{% load static %}
{% block right-panel %}
<div class="row risk-report-background">
    <div class="overlay-banner white-text">                
        <div class="valign-wrapper">   
            <h3 class="ml-2">Crear Reporte Incidente / Accidente</h3>
        </div>       
    </div>
</div>

<div class="row">
<div class="col s2"></div>
<div class="col s8">
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="row">
    <div class="input-field col s12">    
        <input type="text" name="date" required="" id="id_date" class="datepicker">
        <label for="date">Selecciona una fecha</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">    
        {{ form.place }}
        <label>Lugar:</label>
    </div>
</div>

<div class="row">
    <div class="col s12">        
        <label>Opcionalmente puede agregar hasta 5 fotos asociadas al incidente o accidente</label>
    </div>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Foto 1:</span>
        <input type="file" name="photo1" accept="image/*" id="id_photo1">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Foto 2:</span>
        <input type="file" name="photo2" accept="image/*" id="id_photo2">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Foto 3:</span>
        <input type="file" name="photo3" accept="image/*" id="id_photo3">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Foto 4:</span>
        <input type="file" name="photo4" accept="image/*" id="id_photo4">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>

<div class="file-field input-field">
    <div class="btn">
        <span>Foto 5:</span>
        <input type="file" name="photo5" accept="image/*" id="id_photo5">
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form.description }}
        <label>Descripción:</label>
    </div>
</div>

<div class="row center">                    
    <input type='submit' class="waves-effect waves-light btn-large white-text" value='Crear Reporte Incidente / Accidente'>                    
</div>
</div>
<div class="col s2"></div>
</form>
</div>

<!--SCRIPTS-->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],
                today: 'Hoy',
		        clear: 'Limpiar',
		        close: 'Ok',
                cancel: 'Cancelar',
		        labelMonthNext: 'Siguiente mes',
			    labelMonthPrev: 'Mes anterior',			    
            }
        });                
    });        
</script>
{% endblock %}