{% extends 'DashboardBase.html' %}
{% load static %}
{% block content %}

<div class="row mb-0">
    <div class="col s3 principal-colum">
        <!-- LeftMenu -->
        {% include './LeftMenu.html' %}        
    </div>    
    <div class="col s9 pl-0 pr-0">
        <!-- NavBar -->
        {% include './NavBar.html' %}
        <!-- Content -->
        {% block right-panel %}

        {% endblock %}
        <!-- Footer -->
        {% include './Footer.html' %}
    </div>  
</div>
{% endblock %}