{% extends './EmployeeDashboard.html' %}
{% load static %}
{% block right-panel %}

<h2>Vista del empleado</h2>
<h3>Deberian mostrarse algunos pocos indicadores de sus acciones y sus tareas pendientes</h3>


{% endblock %}