{% load static %}
<div class="green-material-square">
        <p><h1 class="right-align white-text">Bienvenido</h1></p>
        <p><h6 class="right-align">{{ user.email }}</h6></p>
      </div>
      <div>
        <ul class="collection principal-menu">
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'employees:dashboard' %}">
              <i class="material-icons circle blue">person_pin</i>
              Inicio
            </a>
          </li>          
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'employees:profile-employee' %}">
              <i class="material-icons circle blue">person_pin</i>
              Perfil
            </a>
          </li>          
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'employees:risk-report-list' %}">
              <i class="material-icons circle orange">report_problem</i>
              Reportes de Riesgo
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="{% url 'employees:incident-accident-list' %}">
              <i class="material-icons circle red">report</i>
              Incidentes y Accidentes
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="#!">
              <i class="material-icons circle green">flight_takeoff</i>
              Reportes de Vuelo
            </a>
          </li>                     
        </ul>
      </div>