<nav>
    <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="#!"><i class="material-icons">search</i></a></li>
        <li><a href="#!"><i class="material-icons">view_module</i></a></li>
        <li><a href="#!"><i class="material-icons">refresh</i></a></li>
        <li><a href="{% url 'users:logout' %}"><i class="material-icons right">exit_to_app</i>Salir</a></li>
    </ul>
    </div>
</nav>
        