{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--GoogleFont-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--MaterializeCss-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %} "  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/dashboard.css' %} "  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/indicators.css' %} "  media="screen,projection"/>
    <style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>
    <title>Fagar-sms</title>
</head>
<body>
    {% block content %}

    {% endblock %}
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>     
</body>
</html>