{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--GoogleFont-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--MaterializeCss-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %} "  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/landing.css' %} "  media="screen,projection"/>
    <title>Fagar-sms</title>
</head>
<body>
  <div class="row mb-0">
    <div class="col s3 principal-colum">
      <div class="green-material-square">
        <p><h1 class="right-align white-text">Fagar-<span class="white-text">SMS</span></h1></p>
        <p><h6 class="right-align">Por Aeroservicios fagar</h6></p>
      </div>
      <div>
        <ul class="collection principal-menu">          
          <li class="collection-item avatar principal-menu-item">
            <a href="#!">
              <i class="material-icons circle green">monetization_on</i>
              Servicios Y Tarifas
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="#!">
              <i class="material-icons circle blue">group</i>
              Quienes Somos
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="#!">
              <i class="material-icons circle black">phone_iphone</i>
              Aplicación Movil
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="#!">
              <i class="material-icons circle red">contacts</i>
              Contacto
            </a>
          </li>
          <li class="collection-item avatar principal-menu-item">
            <a href="#!">
              <i class="material-icons circle cyan">speaker_notes</i>
              Preguntas Frecuentes
            </a>
          </li>           
        </ul>
      </div>
    </div>  
    <div id="airport-background" class="col s9">
      <div class="overlay white-text">        
        <div class="container">
          <div class="valign-wrapper full-height">
            <row>
              <h1>Gestion de la Seguridad Operacional</h1>
              <h2>A su alcance <a href="{% url 'users:login' %}" class="waves-effect waves-light btn-large"><i class="material-icons left">airplanemode_active</i>Iniciar</a></h2>
            </row>
          </div>
        </div>       
      </div>      
    </div>
  </div>  
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>