<canvas id="BarFlyingHoursCanvas"></canvas>
<script>
	var MONTHS = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviebre', 'Diciembre'];
	var color = Chart.helpers.color;
	var barChartData = {
		labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviebre', 'Diciembre'],
		datasets: [
            {
			label: 'Diurnas',
			backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
			borderColor: window.chartColors.yellow,
			borderWidth: 1,
			data: [
				40,
				10,
				12,
				25,
				30,
				13,
                14,
                8,
                9,
                10,
                14,
                17
				]
			}, {
				label: 'Nocturnas',
				backgroundColor: color(window.chartColors.black).alpha(0.5).rgbString(),
				borderColor: window.chartColors.black,
				borderWidth: 1,
				data: [
                10,
				5,
				22,
				10,
				10,
				8,
                11,
                20,
                14,
                15,
                16,
                16
				]
			}]

		};		
</script>



