{% load static %}

<canvas id="BarRiskReportCanvas"></canvas>

<script>
    var MONTHS = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviebre', 'Diciembre'];
    var color = Chart.helpers.color;
    var barChartData1 = {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviebre', 'Diciembre'],
        datasets: [{
            label: 'reportes',
            backgroundColor: color(window.chartColors.orange).alpha(0.6).rgbString(),
            borderColor: window.chartColors.orange,
            borderWidth: 1,
            data: [
                Math.round(5),
                Math.round(2),
                Math.round(1),
                Math.round(2),
                Math.round(3),
                Math.round(4),
                Math.round(5),
                Math.round(6),
                Math.round(7),
                Math.round(4),
                Math.round(3),
                Math.round(1),
            ]
        }]
    };    

        
</script>
 