<div class="card indicator-card gradient-45deg-red-pink gradient-shadow  min-height-100 white-text animate fadeRight mr-1">
    <div class="padding-4">
        <div class="row">
            <div class="text-center pt-1">
            <h6 class="mt-0">Horas de vuelo</h6>
            </div>
            <div class="col s6">
                <h6 class="ml-1">Hoy</h6>
                <ul class="ml-1 mt-0">
                    <li>Diurnas: 5</li>
                    <li>Nocturas: 1</li>                
                </ul>
            </div>
            <div class="col s6">
                <h6>Mes</h6>
                <ul class="mt-0">
                    <li>Diurnas: 50</li>
                    <li>Nocturas: 15</li>                
                </ul>            
            </div>
       </div>
    </div>
 </div>