{% load static %} 

<canvas id="RiskReportTypeCanvas"></canvas>

<script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    var color = Chart.helpers.color;
    var config = {
        type: 'radar',
        data: {
            labels: [['Relacionado', 'con vuelo'], 'E.P.P.', 'Procedimientos', ['Mantenimiento', 'Aeronático'], 'F.O.D.', ['Orden y', 'limpieza'], ['Acto', 'Inseguro'], 'Otros'],
            datasets: [{
                label: 'reportes',
                backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                borderColor: window.chartColors.red,
                pointBackgroundColor: window.chartColors.red,
                data: [
                    5,
                    3,
                    4,
                    3,
                    3,
                    2,
                    1,
                    1
                ]
            }]
        },
        options: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Cantidad de reportes por tipo de riesgo'
            },
            scale: {
                ticks: {
                    beginAtZero: true
                }
            }
        }
    };    
</script>