{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--GoogleFont-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--MaterializeCss-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %} "  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/landing.css' %} "  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/login&signin.css' %} "  media="screen,projection"/>
    <title>Fagar-Login</title>
</head>
<body onload="SetCursorOnEmail()">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div class="valign-wrapper full-height">
                <form class="col s12" action='.' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">                 
                    <div class="row">
                    <div class="input-field col s12">
                        <!--we have to use id_username and id_password beacause were using built in django auth-->
                        <input id="id_username" type="email" name="username" class="validate">
                        <label for="email">Email</label>
                    </div>
                    </div>
                    
                    <div class="row">
                    <div class="input-field col s12">
                        <input id="id_password" type="password" name="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                    </div>
                    <div class="row">
                    {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match. 
                        Please try again.
                    </p>
                    {% endif %}
                    </div>
                    <div class="row center">                    
                        <input type='submit' class="waves-effect waves-light btn-large white-text" value='Iniciar Sesion'>                    
                    </div>
                </form>
            </div>
        </div>
        <div class="col s4"></div>
    </div>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/login&signin.js' %}"></script>
</body>
</html>