.pl-0{
    padding-left: 0px !important;
}

.pr-0{
    padding-right: 0px !important;
}

.pb-0{
    padding-bottom: 0px !important;
}

.pt-0{
    padding-top: 0px !important;
}

.pl-1{
    padding-left: 1rem!important;
}

.pr-1{
    padding-right: 1rem !important;
}

.pb-1{
    padding-bottom: 1rem !important;
}

.pt-1{
    padding-top: 1rem !important;
}

.pl-2{
    padding-left: 2rem !important;
}

.pr-2{
    padding-right: 2rem !important;
}

.pb-2{
    padding-bottom: 2rem !important;
}

.pt-2{
    padding-top: 2rem !important;
}

pl-3{
    padding-left: 3rem !important;
}

.pr-3{
    padding-right: 3rem !important;
}

.pb-3{
    padding-bottom: 3rem !important;
}

.pt-3{
    padding-top: 3rem !important;
}

.mb-0{
    margin-bottom: 0px !important;
}

.mt-0{
    margin-top: 0px !important;
}

.ml-0{
    margin-left: 1rem !important;
}

.mr-0{    
    margin-right: 0px !important;
}

.mb-1{
    margin-bottom: 1rem !important;
}

.mt-1{
    margin-top: 1rem !important;
}

.ml-1{
    
    margin-left: 1rem !important;
}

.mr-1{
    margin-right: 1rem !important;
}

.mb-2{
    margin-bottom: 2rem !important;
}

.mt-2{
    margin-top: 2rem !important;
}

.ml-2{
    margin-left: 2rem !important;
}

.mr-2{
    margin-right: 2rem !important;
}

.br-5{
    border-radius: 5px !important;
}

.principal-colum{
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100vh;
}

.left-align {
    padding-left: 1rem !important;
}

.right-align {
    padding-right: 1rem !important;
}

.red-square {
    min-height: 30%;
    background-color: #F44336;
    overflow: auto;
 }

 .green-material-square {
    min-height: 30%;
    background-color: #26a69a;
    overflow: auto;
 }

.principal-menu{
    min-height: 70%;
    margin-top: 1px !important;
}

.principal-menu-item{
    min-height: 4rem !important;
}

/*NAV BAR STYLES*/

#dropdown2{
    top: auto !important;
}

.full-height {
    height: 100vh !important;
}

.white-text{
    color: white;
}

.profile-pic-small{
    height: 75px;    
    width: auto !important;
    border-radius: 50% !important;
}

.profile-pic-medium{
    height: 200px;
    width: auto !important;
    border-radius: 50% !important;
}

.profile-pic-big{
    height: 500px;
    width: auto !important;
    border-radius: 50% !important;
}

.btn-edit-profile-pic{
    position: absolute;
    top: 20%;
    left: 80%;
}


.employee-background{
    background: url("../Images/action-banners/airline_employees.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.company-background{
    background: url("../Images/action-banners/plane1.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sms-manager-background{
    background: url("../Images/action-banners/sms-manager2.jpeg") no-repeat;
    background-size: cover;
    padding: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.risk-report-background{
    background: url("../Images/action-banners/RiskReport.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.overlay-banner {    
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */    
    height: 106px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */    
    z-index: 2;
    padding: 0px;
    margin-top: 0px;
}

.full-height {
    height: 100vh !important;
}

.white-text{
    color: white;
}

.table-elipsis-text{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.colecction-elipsis-text{
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-center{
    text-align: center;
}

/*CAROUSEL*/
.middle-indicator{
    position:absolute;
    top:50%;
    }
   .middle-indicator-text{
    font-size: 4.2rem;
   }
   a.middle-indicator-text{
     color:white !important;
   }
 .content-indicator{
     width: 64px;
     height: 64px;
     background: none;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px; 
   }
/*END CAROUSEL*/