.mb-0{
    margin-bottom: 0px !important;
}

.principal-colum{
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100vh;
}

.left-align {
    padding-left: 1rem !important;
}

.right-align {
    padding-right: 1rem !important;
}

.red-square {
    min-height: 30%;
    background-color: #F44336;
    overflow: auto;
 }

 .green-material-square {
    min-height: 30%;
    background-color: #26a69a;
    overflow: auto;
 }

.principal-menu{
    min-height: 70%;
    margin-top: 1px !important;
}

.principal-menu-item{
    min-height: 4rem !important;
}

#airport-background{
    background: url("../Images/airport1.jpg") no-repeat center center;
    background-size: cover;
    padding: 0px;
}

.overlay {    
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */    
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */    
    z-index: 2;
    padding: 0px;
    margin-top: 0px;
}

.full-height {
    height: 100vh !important;
}

.white-text{
    color: white;
}